* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {

    width: 100%;
    height: 100vh;
    font-family: Verdana,
        Geneva,
        Tahoma,
        sans-serif;
    // gradient background

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    // gradient background end
}

@font-face {
    font-family: 'HuseyinKaplan';
    src: url(../fonts/CursedTimerULiL.ttf);
}

p {
    font-family: 'HuseyinKaplan';
}

button {
    font-family: 'HuseyinKaplan';
    color: #9AABD8;
    font-weight: 400;
    font-size: 18px;
    line-height: 27.81px;
    text-align: center;
    margin-top: 26px;
    margin-right: 9px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 auto;
    background: #1B244A;
    width: 575px;
    height: 385px;

    .title {
        display: flex;
        justify-content: space-around;

        div {
            color: white;
            font-weight: 700;
            font-size: 40px;
            line-height: 35.89px;
            margin-top: 68px;
        }
    }

    .boxes {
        display: flex;
        justify-content: space-around;
        margin-top: 21px;

        .box1 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 155px;
            height: 120px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 5px;
            background: #000;



            p {
                font-size: 90px;
                color: #F94F6D;
            }
        }

        .box2 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 155px;
            height: 120px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 5px;
            background: #000;



            p {
                font-size: 90px;
                color: #F94F6D;
            }
        }


    }

    .boxesTwo {
        font-family: 'HuseyinKaplan';
        display: flex;
        justify-content: space-around;



        .kutular1 {
            display: flex;


            .kutu1 {
                width: 45px;
                height: 45px;
                border: 2px solid #9AABD8;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: none;

            }

            .kutu2 {
                width: 45px;
                height: 45px;
                border: 2px solid #9AABD8;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: none;
            }

            .kutu3 {
                width: 45px;
                height: 45px;
                border: 2px solid #9AABD8;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: none;
            }
        }

        .kutular2 {
            display: flex;

            .boxes1 {
                width: 45px;
                height: 45px;
                border: 2px solid #9AABD8;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: none;
            }

            .boxes2 {
                width: 45px;
                height: 45px;
                border: 2px solid #9AABD8;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: none;
            }

            .boxes3 {
                width: 45px;
                height: 45px;
                border: 2px solid #9AABD8;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: none;
            }
        }
    }
}